<div>
   
      <form action="/place/<%= player%>">
        <p>What is <%= player %>'s name?
        <input type="text" name="name"></p>
        <input type="submit" value="Submit">
      </form>
   

</div>