<div>
    <%if @name == "" || !@name %> 
      <form action='/input_name'>
        What is your name?
        <input type="text" name="name">
        <input type="submit" value="Submit">
      </form>
    <%else%> 
    <action='/new_game'> 


    <% end %>

</div>