<div>

<% if @name %>

	Welcome to a new game, <%=@name.capitalize %>!
<% end %>

	Please see your new board below.
  <pre><%= @board %></pre>

  Please choose where to place your ships:

  <form action='/place_ships'>
    Submarine - 1:
    <input type="text" name="coordinates1">
    <select name="orientation1">
        <option value="vertically">vertically</option>
        <option value="horizontally">horizontally</option>

    </select>
  <p>  Destroyer - 2: 
     <input type="text" name="coordinates2"> 
     <select name="orientation2">
        <option value="vertically">vertically</option>
        <option value="horizontally">horizontally</option>
    </select> </p>
  <p>  Cruiser - 3:
    <input type="text" name="coordinates3">
     <select name="orientation3">
        <option value="vertically">vertically</option>
        <option value="horizontally">horizontally</option>
    </select> </p>
  <p>  Battleship - 4:  
    <input type="text" name="coordinates4">
     <select name="orientation4">
        <option value="vertically">vertically</option>
        <option value="horizontally">horizontally</option>
    </select> </p>
  <p>  Aircraft Carrier - 5:  
    <input type="text" name="coordinates5">
     <select name="orientation5">
        <option value="vertically">vertically</option>
        <option value="horizontally">horizontally</option>
    </select> </p>

    <input type="submit" value="Submit">
  </form>


</div>


 