<div>

<% if @name %>

	Welcome to a new game, <%=@name.capitalize %>!
<% end %>

	Please see your new board below.
  <pre><%= @board %></pre>

  Please choose where to place your ships:

  <form action='/place_ships'>
   Ship 1:
    <input type="text" name="coordinates1">
    <input type="text" name="orientation1">
  <p>  Ship 2: 
    <input type="text" name="coordinates2"> 
    <input type="text" name="orientation2"> </p>
  <p>  Ship 3:
    <input type="text" name="coordinates3">
    <input type="text" name="orientation3"> </p>
  <p>  Ship 4:  
    <input type="text" name="coordinates4">
    <input type="text" name="orientation4"> </p>
  <p>  Ship 5:  
    <input type="text" name="coordinates5">
    <input type="text" name="orientation5"> </p>

    <input type="submit" value="Submit">
  </form>


</div>


 