
Please see your new board below.
  <pre><%= $game.own_board_view $game.player_1 %></pre>

  <form action='/input_name2'>
    <input type="submit" value="Next Player">
  </form>

<!-- <div>
  Player1: 
  <form action='/action'>
    <input type="text" name="aim1">
    <input type="submit" value="FIRE">
    </form>
  </div>
  <div>
    Player2:
  <form action='/action'>
    <input type="text" name="aim2">
    <input type="submit" value="FIRE">
    </form>
  </div> -->