
Please see your new board below.
  <pre><%= @board %></pre>



<!-- <div>

  <form action='/place_ships'>
    <input type="text" coordinates="coordinates">
    <input type="submit" value="Submit">
  </form>

</div> -->