 <pre><%= $game.opponent_board_view $game.player_2 %></pre>  

 <pre><%= $game.own_board_view $game.player_2 %></pre>

 <form action='/player1_turn'>
  <input type="text" name="aim1">
  <input type="submit" name="FIRE">
</form>