 <pre><%= $game.opponent_board_view $game.player_1 %></pre>  

 <pre><%= $game.own_board_view $game.player_1 %></pre>

 <form action='/player2_turn'>
  <input type="text" name="aim2">
  <input type="submit" name="FIRE">
</form>
